<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/org.eclipse.gmt.modisco.usecase.perfannotatedumlstatechart/Transformations/XML2SpreadsheetMLSimplified.atl"/>
<stringAttribute key="ATL VM" value="Regular VM (with debugger)"/>
<booleanAttribute key="AllowInterModelReferences" value="false"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="XML"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="XML" value="EMF"/>
<mapEntry key="SpreadsheetMLSimplified" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
<mapEntry key="XML" value="METAMODELINPUT"/>
<mapEntry key="SpreadsheetMLSimplified" value="METAMODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="SpreadsheetMLSimplified"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/org.eclipse.gmt.modisco.usecase.perfannotatedumlstatechart/Outputs/TraceSamples-XML.xmi"/>
<mapEntry key="OUT" value="/org.eclipse.gmt.modisco.usecase.perfannotatedumlstatechart/Outputs/TraceSamples-Excel.xmi"/>
<mapEntry key="XML" value="/org.eclipse.gmt.modisco.usecase.perfannotatedumlstatechart/Metamodels/XML.ecore"/>
<mapEntry key="SpreadsheetMLSimplified" value="/org.eclipse.gmt.modisco.usecase.perfannotatedumlstatechart/Metamodels/MSOfficeExcel_SpreadsheetMLSimplified.ecore"/>
</mapAttribute>
<stringAttribute key="Project Name" value="org.eclipse.gmt.modisco.usecase.perfannotatedumlstatechart"/>
<listAttribute key="Superimpose"/>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
</launchConfiguration>
