<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.modisco.workflow.launchType"
            icon="icons/workflow16x16.png"
            id="org.eclipse.modisco.workflow.ui.launchConfigImage">
      </launchConfigurationTypeImage>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            class="org.eclipse.modisco.workflow.ui.internal.MoDiscoWorkflowTabGroup"
            id="org.eclipse.modisco.workflow.ui.launchConfigurationTabGroup"
            type="org.eclipse.modisco.workflow.launchType">
      </launchConfigurationTabGroup>
   </extension>
</plugin>
