<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?><!--
    Copyright (c) 2010 Mia-Software.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
       Gabriel Barbier (Mia-Software) - initial API and implementation
 -->

<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.gmt.modisco.usecase.simpletransformationschain.model.modelplex.ModelplexPackage"
            genModel="model/Modelplex.genmodel"
            uri="http://modelplex/1.0">
      </package>
   </extension>
   <extension
         point="org.eclipse.gmt.modisco.discoverers">
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.simpletransformationschain.actions.DiscoverUmlModelFromJavaProject"
            icon="icons/UMLModelFile.gif"
            name="%discoverer.name">
      </discoverer>
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.simpletransformationschain.actions.DiscoverBidirectionalAssociationsInUmlModel"
            icon="icons/NewUML.gif"
            name="%discoverer.name.0">
      </discoverer>
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.simpletransformationschain.actions.DiscoverUmlModelWithBidirectionalAssociationsFromJavaProject"
            icon="icons/NewUML.gif"
            name="%discoverer.name.1">
      </discoverer>
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.simpletransformationschain.actions.DiscoveryCustomizationToUmlModelFromJavaProject"
            icon="icons/NewUML.gif"
            name="%discoverer.name.2"
            path="modelplex">
      </discoverer>
   </extension>

</plugin>
