<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.gmt.modisco.infra.facet.registration">
      <facetset
            file="Modelplex.facetSet">
      </facetset>
   </extension>
   <extension
         point="org.eclipse.gmt.modisco.infra.query.registration">
      <modelqueryset
            file="Modelplex.querySet">
      </modelqueryset>
   </extension>
	<extension
         point="org.eclipse.gmt.modisco.infra.query.registration">
      <modelqueryset
            file="FilteringModelplex.querySet">
      </modelqueryset>
   </extension>
   <extension
         point="org.eclipse.gmt.modisco.infra.browser.custom.core.registration">
      <browserCustomization
            file="FilteringModelplex.uiCustom"
            loadByDefault="false">
      </browserCustomization>
   </extension>
</plugin>
