<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
<!--
   <extension
         id="org.eclipse.gmt.modisco.workflow.engine.mwe"
         point="org.eclipse.gmt.modisco.workflow.engine">
      <workflowCore
            class="org.eclipse.gmt.modisco.workflow.mwe.impl.WorkflowModelImpl"
            name="%workflowCore.name">
      </workflowCore>
      <workflowExecution
            class="org.eclipse.gmt.modisco.workflow.mwe.impl.WorkflowExecutionImpl">
      </workflowExecution>
   </extension>
-->
</plugin>
