<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.gmt.modisco.discoverers">
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.modelfilter.methodcalls.actions.DiscoverMethodCallsModelFromJavaModel"
            name="%discoverer.name"
            path="modelplex">
      </discoverer>
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.modelfilter.methodcalls.actions.DiscoverMethodCallsModelFromJavaOperation"
            name="%discoverer.name.0">
      </discoverer>
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.modelfilter.methodcalls.actions.DiscoverMethodCallsModelFromJavaProject"
            name="%discoverer.name.1"
            path="modelplex">
      </discoverer>
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.modelfilter.methodcalls.actions.DiscoverMethodCallsModelFromAbstractMethodDeclaration"
            name="%discoverer.name.2">
      </discoverer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gmt.modisco.usecase.modelfilter.methodcalls.editor.MethodCallsModelEditor"
            default="false"
            icon="resources/logoMoDiscoMini.gif"
            id="org.eclipse.gmt.modisco.usecase.modelfilter.methodcalls.modeleditor.prefuse.EditorID"
            name="%editor.name">
      </editor>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.gmt.modisco.usecase.modelfilter.methodcalls.model.methodcalls.MethodcallsPackage"
            genModel="model/MethodCalls.genmodel"
            uri="http://www.eclipse.org/MoDisco/MethodCalls/0.1.incubation/methodcalls">
      </package>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="methodcalls"
            id="org.eclipse.gmt.modisco.methodcalls.contenttype"
            name="%content-type.name"
            priority="normal">
      </content-type>
   </extension>
</plugin>

