<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2009 Mia-Software.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Nicolas Bros (Mia-Software) - initial API and implementation
 -->

<plugin>
   <extension-point id="registration" name="%extension-point.name" schema="schema/org.eclipse.gmt.modisco.infra.browser.custom.registration.exsd"/>
   <extension
         id="org.eclipse.gmt.modisco.infra.browser.custom.core.CustomizationsBuilder"
         name="%extension.name"
         point="org.eclipse.gmt.modisco.common.core.builder.register">
      <builder
            class="org.eclipse.gmt.modisco.infra.browser.custom.core.CustomizationsBuilder">
         <depends
               builder="org.eclipse.gmt.modisco.infra.query.core.QueryBuilder">
         </depends>
         <depends
               builder="org.eclipse.gmt.modisco.infra.facet.manager.facetBuilder">
         </depends>
      </builder>
   </extension>
   
   <extension
         id="org.eclipse.gmt.modisco.infra.browser.custom.problem"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <persistent value="true"/>
   </extension>
   <extension
         point="org.eclipse.gmt.modisco.common.core.protocolext">
      <scheme-specific-part
            class="org.eclipse.gmt.modisco.infra.browser.custom.core.CustomizationProtocolExt">
      </scheme-specific-part>
   </extension>
   
</plugin>
