<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.atl.eclipse.adt.launching.atlTransformation">
<stringAttribute key="ATL File Name" value="/org.eclipse.gmt.modisco.usecase.travelagency/resources/XIRUPCopy2004.atl"/>
<stringAttribute key="ATL VM" value="Regular VM (with debugger)"/>
<booleanAttribute key="AllowInterModelReferences" value="true"/>
<mapAttribute key="Input">
<mapEntry key="IN" value="Xirup"/>
</mapAttribute>
<mapAttribute key="Libs"/>
<booleanAttribute key="Mode Debug" value="false"/>
<mapAttribute key="Model Handler">
<mapEntry key="Xirup" value="EMF"/>
</mapAttribute>
<mapAttribute key="ModelType">
<mapEntry key="IN" value="MODELINPUT"/>
<mapEntry key="Xirup" value="METAMODELOUTPUT"/>
<mapEntry key="OUT" value="MODELOUTPUT"/>
</mapAttribute>
<mapAttribute key="Output">
<mapEntry key="OUT" value="Xirup"/>
</mapAttribute>
<mapAttribute key="Path">
<mapEntry key="IN" value="/org.eclipse.gmt.modisco.usecase.travelagency/TravelAgency_MySQL_Oracle.xsm"/>
<mapEntry key="Xirup" value="/org.eclipse.gmt.modisco.usecase.travelagency/resources/momocs.ecore"/>
<mapEntry key="OUT" value="/org.eclipse.gmt.modisco.usecase.travelagency/FinalModel/TravelAgency_Oracle.xsm"/>
</mapAttribute>
<stringAttribute key="Project Name" value="TravelAgency"/>
<listAttribute key="Superimpose">
<listEntry value="/org.eclipse.gmt.modisco.usecase.travelagency/ComponentTypeReplacement_superimp.asm"/>
</listAttribute>
<booleanAttribute key="continueAfterError" value="false"/>
<booleanAttribute key="disableAttributeHelperCache" value="false"/>
<booleanAttribute key="printExecutionTime" value="false"/>
<booleanAttribute key="profile" value="false"/>
<booleanAttribute key="showSummary" value="false"/>
<booleanAttribute key="step" value="false"/>
</launchConfiguration>
