<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="birt-target" sequenceNumber="0">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.birt.chart.feature.group" version="4.4.2.v201410272105-829B7QFQCnvK6GVLVWBZS"/>
<unit id="org.eclipse.birt.feature.group" version="4.4.2.v201410272105-DPEqA5GixAot9yUGgiE15dZgVpeZ"/>
<repository location="https://download.eclipse.org/birt/update-site/4.4/"/>
</location>
</locations>
</target>
