<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.modisco.infra.discovery.ui.discoverer">
      <discoverer
            discovererID="org.eclipse.modisco.kdm.source.discoverer.resource"
            icon="icons/file_reverse_engr.gif"
            label="%discoverer.label.1">
      </discoverer>
      <discoverer
            discovererID="org.eclipse.modisco.kdm.source.discoverer.javaElement"
            icon="icons/file_reverse_engr.gif"
            label="%discoverer.label.2">
      </discoverer>
   </extension>
</plugin>
