<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.modisco.infra.discovery.core.discoverer">
      <discoverer
            class="org.eclipse.modisco.usecase.modelfilter.methodcalls.discoverer.DiscoverMethodCallsModelFromJavaModel"
            id="org.eclipse.modisco.usecase.modelfilter.methodcalls.discoverer.discoverMethodCallsModelFromJavaModel">
      </discoverer>
      <discoverer
            class="org.eclipse.modisco.usecase.modelfilter.methodcalls.discoverer.DiscoverMethodCallsModelFromJavaProject"
            id="org.eclipse.modisco.usecase.modelfilter.methodcalls.discoverer.discoverMethodCallsModelFromJavaProject">
      </discoverer>
   </extension>
</plugin>
