<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?><!--
    Copyright (c) 2010 Mia-Software.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
       Gabriel Barbier (Mia-Software) - initial API and implementation
 -->

<plugin>
   <extension
         id="org.eclipse.gmt.modisco.infra.browser.extension.kdm.icons"
         point="org.eclipse.gmt.modisco.infra.browser.uicore.icons">
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/core">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.core.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/kdm">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.kdm.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/source">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.source.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/code">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.code.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/action">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.action.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/platform">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.platform.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/build">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.build.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/conceptual">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.conceptual.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/data">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.data.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/event">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.event.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/structure">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.structure.IconProvider">
			</iconProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/ui">
			<iconProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.ui.IconProvider">
			</iconProvider>
		</metamodel>
   </extension>
   <extension
         id="org.eclipse.gmt.modisco.infra.browser.extension.kdm.naming"
         point="org.eclipse.gmt.modisco.infra.browser.uicore.naming">
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/core">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.core.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/kdm">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.kdm.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/source">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.source.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/code">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.code.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/action">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.action.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/platform">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.platform.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/build">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.build.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/conceptual">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.conceptual.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/data">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.data.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/event">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.event.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/structure">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.structure.NameProvider">
			</nameProvider>
		</metamodel>
		<metamodel
				id="http://www.eclipse.org/MoDisco/kdm/ui">
			<nameProvider
					class="org.eclipse.gmt.modisco.kdm.browser.extension.ui.NameProvider">
			</nameProvider>
		</metamodel>
   </extension>

</plugin>

