<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.gmt.modisco.discoverers">
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.modelfilter.dependencies.actions.DiscoverDependenciesFromTypeDeclaration"
            name="%discoverer.name">
      </discoverer>
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.modelfilter.dependencies.actions.DiscoverDependenciesFromJavaModel"
            name="%discoverer.name.0"
            path="modelplex">
      </discoverer>
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.modelfilter.dependencies.actions.DiscoverDependenciesFromJavaProject"
            name="%discoverer.name.1"
            path="modelplex">
      </discoverer>
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.modelfilter.dependencies.actions.DiscoverDependenciesFromJdtType"
            name="%discoverer.name.2">
      </discoverer>
      <discoverer
            class="org.eclipse.gmt.modisco.usecase.modelfilter.dependencies.actions.DiscoverDependenciesFromJdtPackage"
            name="%discoverer.name.3">
      </discoverer>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.gmt.modisco.usecase.modelfilter.dependencies.editor.DependenciesEditor"
            default="false"
            icon="resources/logoMoDiscoMini.gif"
            id="org.eclipse.gmt.modisco.usecase.modelfilter.dependencies.modeleditor.prefuse.EditorID"
            name="%editor.name">
      </editor>
   </extension>
</plugin>

