<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
      <localRepository>/Users/sunye/Work/Maven</localRepository>

      <mirrors>
          <mirror>
              <id>local-mirror</id>
              <mirrorOf>acceleo,atl,birt,cdo,emf,facet,jdt,ocl,oxygen,oxygen-updates,transaction,validation</mirrorOf>
              <name>Local mirror of all repositories</name>
              <url>file://${env.M2_MIRROR}</url>
              <layout>p2</layout>
              <mirrorOfLayouts>p2</mirrorOfLayouts>
          </mirror>
      </mirrors>

</settings>
