<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2011 Mia-Software
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Nicolas Bros (Mia-Software) - Bug 355961 - Wizard to create MoDisco plug-ins
 -->

<plugin>

<extension
      point="org.eclipse.ui.newWizards">
   <category
         id="org.eclipse.gmt.modisco"
         name="%modisco.category.name">
   </category>
   <wizard
         category="org.eclipse.gmt.modisco"
         class="org.eclipse.gmt.modisco.dev.ui.internal.wizard.NewMoDiscoPluginWizard"
         icon="icons/newpprj_wiz.gif"
         id="org.eclipse.gmt.modisco.dev.ui.newPluginWizard"
         name="%newplugin.wizard.name"
         project="true">
   </wizard>
</extension>
   
</plugin>
