<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 /*******************************************************************************
  * Copyright (c) 2008 Hatha Systems.
  * All rights reserved. This program and the accompanying materials
  * are made available under the terms of the Eclipse Public License v1.0
  * which accompanies this distribution, and is available at
  * http://www.eclipse.org/legal/epl-v10.html
  *
  * Contributors:
  *    Nikolai Mansourov (Hatha Systems) - initial API and implementation
  *******************************************************************************/

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/action"
            class="org.eclipse.gmt.modisco.omg.kdm.action.ActionPackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/build"
            class="org.eclipse.gmt.modisco.omg.kdm.build.BuildPackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/code"
            class="org.eclipse.gmt.modisco.omg.kdm.code.CodePackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/conceptual"
            class="org.eclipse.gmt.modisco.omg.kdm.conceptual.ConceptualPackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/core"
            class="org.eclipse.gmt.modisco.omg.kdm.core.CorePackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/data"
            class="org.eclipse.gmt.modisco.omg.kdm.data.DataPackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/event"
            class="org.eclipse.gmt.modisco.omg.kdm.event.EventPackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/source"
            class="org.eclipse.gmt.modisco.omg.kdm.source.SourcePackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/platform"
            class="org.eclipse.gmt.modisco.omg.kdm.platform.PlatformPackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/structure"
            class="org.eclipse.gmt.modisco.omg.kdm.structure.StructurePackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/kdm"
            class="org.eclipse.gmt.modisco.omg.kdm.kdm.KdmPackage"
            genModel="model/kdm.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/kdm/ui"
            class="org.eclipse.gmt.modisco.omg.kdm.ui.UiPackage"
            genModel="model/kdm.genmodel"/>
   </extension>
   
   <!-- so that model editors know they can open it -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="kdm"
            id="org.eclipse.gmt.modisco.omg.kdm.contenttype"
            name="%content-type.name"
            priority="normal">
      </content-type>
   </extension>
  
  <!-- find the contenttype based on the actual content (so that it doesn't depend on the _kdm.xmi suffix) -->
  <extension point="org.eclipse.core.contenttype.contentTypes">
     <content-type
           base-type="org.eclipse.emf.ecore.xmi"
           file-extensions="xmi"
           id="org.eclipse.modisco.omg.kdm.contenttype"
           name="%content-type.name"
           priority="normal">
        <describer
              class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
           <parameter
                 name="namespacePattern"
                 value="http:\/\/www\.eclipse\.org\/MoDisco\/kdm\/.*">
           </parameter>
           <parameter
                 name="kind"
                 value="xmi">
           </parameter>
        </describer>
     </content-type>
  </extension>

</plugin>
