<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 Copyright (c) 2010 Mia-Software.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Nicolas Guyomar (Mia-Software) - initial API and implementation
 </copyright>

 $Id$
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="webapp23"
            class="org.eclipse.modisco.jee.webapp.webapp23.util.Webapp23ResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="webapp24"
            class="org.eclipse.modisco.jee.webapp.webapp24.util.Webapp24ResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="webapp25"
            class="org.eclipse.modisco.jee.webapp.webapp25.util.Webapp25ResourceFactoryImpl"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="webapp30"
            class="org.eclipse.modisco.jee.webapp.webapp30.util.Webapp30ResourceFactoryImpl"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.modisco.jee.webapp.webapp22.util.Webapp22ResourceFactoryImpl"
            type="webapp22">
      </parser>
   </extension>
   <!-- see /model/Readme.txt -->
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.modisco.jee.webapp.webapp22.impl.Webapp22PackageImpl"
            uri="http://www.eclipse.org/MoDisco/Javaee/web-app_2_2.dtd">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.modisco.jee.webapp.webapp23.impl.Webapp23PackageImpl"
            uri="http://www.eclipse.org/MoDisco/Javaee/web-app_2_3.dtd">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.modisco.jee.webapp.webapp24.impl.Webapp24PackageImpl"
            uri="http://www.eclipse.org/MoDisco/Javaee/web-app_2_4.xsd">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.modisco.jee.webapp.webapp25.impl.Webapp25PackageImpl"
            uri="http://www.eclipse.org/MoDisco/Javaee/web-app_2_5.xsd">
      </package>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.eclipse.modisco.jee.webapp.webapp30.impl.Webapp30PackageImpl"
            uri="http://www.eclipse.org/MoDisco/Javaee/web-app_3_0.xsd">
      </package>
   </extension>


</plugin>
