<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright (c) 2009 Mia-Software.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Gregoire DUPE (Mia-Software) - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.gmt.modisco.infra.query.emf.presentation.queryModelWizardID"
            name="%_UI_queryModelWizard_label"
            class="org.eclipse.gmt.modisco.infra.query.editor.presentation.QueryModelWizard"
            category="org.eclipse.gmt.modisco"
            icon="icons/full/wizban/NewQuery.gif">
         <description>%_UI_queryModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <editor
            id="org.eclipse.gmt.modisco.infra.query.emf.presentation.queryEditorID"
            name="%_UI_queryEditor_label"
            icon="icons/full/obj16/ModelQuerySet.gif"
            extensions="querySet"
            class="org.eclipse.gmt.modisco.infra.query.editor.presentation.QueryEditor"
            contributorClass="org.eclipse.gmt.modisco.infra.query.editor.presentation.QueryActionBarContributor">
         <contentTypeBinding
               contentTypeId="org.eclipse.gmt.modisco.infra.query.contenttype">
         </contentTypeBinding>
      </editor>
   </extension>

</plugin>
