<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- Copyright (c) 2008 Mia-Software. 
	All rights reserved. This program and the accompanying materials 
	are made available under the terms of the Eclipse Public License v1.0 
 	which accompanies this distribution, and is available at
	http://www.eclipse.org/legal/epl-v10.html

	Contributors: 
	   Fabien Giquel
	   Romain Dervaux
-->
<plugin>
   <!--
   			custom content types for this plugin
   -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <!--
      		general text file
      -->
      <content-type
            id="textFile"
            name="%content-type.name"
            file-extensions="txt,log"
            priority="low">
      </content-type>
      <!--
      		general binary file
      -->
      <content-type
            id="binaryFile"
            file-extensions="bin,cab,doc,docx,xls,xlsx,ppt,pptx,pdf,odp,ods,odt,aac,avi,mpg,mpeg,wmv,flac,mp3,wav,zip,tar,gz,bz2,7z,db,lnk,tmp"
            name="%content-type.name.0"
            priority="low">
      </content-type>
      
      <!--
      		general exe file
      -->
      <content-type
            base-type="binaryFile"
            id="executableFile"
            file-extensions="exe, msi, bat, cmd"
            name="%content-type.name.1"
            priority="low">
      </content-type>
      
      <!--
      		general configuration file
      -->
      <content-type
      		base-type="textFile"
            id="confFile"
            file-extensions="ini,cfg,inf"
            name="%content-type.name.2"
            priority="low">
      </content-type>
      
      <!--
      		source file
      -->
      <content-type
      		base-type="textFile"
            id="srcFile"
            file-extensions="asp,aspx,cs,css,htm,html,js,rb,pl,perl,vb"
            name="%content-type.name.3"
            priority="low">
      </content-type>
      <!--
      		JDT text files
      -->
      <content-type
            base-type="confFile"
            file-extensions="properties"
            id="javaProperties"
            name="%content-type.name.4"
            priority="low">
      </content-type>
      <content-type
            base-type="confFile"
            file-names=".classpath"
            id="classpathFile"
            name="%content-type.name.5"
            priority="low">
      </content-type>
      <content-type
            base-type="srcFile"
            file-extensions="java"
            id="javaSource"
            name="%content-type.name.6"
            priority="low">
      </content-type>
      <content-type
            base-type="confFile"
            file-names="MANIFEST.MF"
            id="JARManifest"
            name="%content-type.name.7"
            priority="low">
      </content-type>
      <!--
      		JDT binary files
      -->
      <content-type
            base-type="binaryFile"
            file-extensions="class"
            id="javaClass"
            name="%content-type.name.8"
            priority="low">
      </content-type>
      <content-type
            base-type="binaryFile"
            file-extensions="jar,ear,rar,war"
            id="javaArchiveFile"
            name="%content-type.name.9"
            priority="low">
      </content-type>      
      <!--
      		JEE text files
      -->
      <content-type
            base-type="confFile"
            file-names="ejb-jar.xml"
            id="ejbDD"
            name="%content-type.name.10"
            priority="low">
      </content-type>
      <content-type
            base-type="confFile"
            file-names="application.xml"
            id="earDD"
            name="%content-type.name.11"
            priority="low">
      </content-type>
      <content-type
            base-type="confFile"
            file-names="web.xml"
            id="webDD"
            name="%content-type.name.12"
            priority="low">
      </content-type>
      <content-type
            base-type="confFile"
            file-names="application-client.xml"
            id="appclientDD"
            name="%content-type.name.13"
            priority="low">
      </content-type>
      <content-type
            base-type="confFile"
            file-names="ra.xml"
            id="connectorDD"
            name="%content-type.name.14"
            priority="low">
      </content-type>
      <content-type
            base-type="confFile"
            file-extensions="xml"
            id="facesConfigFile"
            name="%content-type.name.15"
            priority="low">
      </content-type>
      <content-type
            base-type="srcFile"
            file-extensions="jsp,jsv,jtpl,jspx,jsv,jsw"
            id="jspsource"
            name="%content-type.name.16"
            priority="low">
      </content-type>
      <content-type
            base-type="srcFile"
            file-extensions="jspf,jsf"
            id="jspfragmentsource"
            name="%content-type.name.17"
            priority="low">
      </content-type>
      <content-type
            base-type="srcFile"
            file-extensions="tag,tagx,tagf"
            id="tagsource"
            name="%content-type.name.18"
            priority="low">
      </content-type>
      <content-type
            base-type="srcFile"
            file-extensions="tld"
            id="tldsource"
            name="%content-type.name.19"
            priority="low">
      </content-type>
      <!--
      		CDT text files
      -->
      <content-type
            base-type="confFile"
            file-names=".cproject"
            id="cProjectFile"
            name="%content-type.name.20"
            priority="low">
      </content-type>
      <content-type
            base-type="srcFile"
            file-extensions="c"
            id="cSource"
            name="%content-type.name.21"
            priority="low">
      </content-type>
      <content-type
            base-type="srcFile"
            file-extensions="h"
            id="cHeader"
            name="%content-type.name.22"
            priority="low">
      </content-type>
      <content-type
            base-type="srcFile"
            file-extensions="C,cpp,cxx,cc,c++"
            id="cxxSource"
            name="%content-type.name.23"
            priority="low">
      </content-type>
      <content-type
            base-type="srcFile"
            file-extensions="h,hpp,hh,hxx"
            id="cxxHeader"
            name="%content-type.name.24"
            priority="low">
      </content-type>
      <content-type
            base-type="srcFile"
            file-extensions="s,asm"
            id="asmSource"
            name="%content-type.name.25"
            priority="low">
      </content-type>
      <content-type
            base-type="confFile"
            file-extensions="mk"
            file-names="MakeFile,makefile,GNUMakefile"
            id="makefile"
            name="%content-type.name.26"
            priority="low">
      </content-type>
      
      <!--
      		CDT binary files
      -->
      <content-type
            base-type="binaryFile"
            file-extensions="obj,o"
            id="compiledObjectFile"
            name="%content-type.name.27"
            priority="low">
      </content-type>
      <content-type
            base-type="executableFile"
            file-extensions="exe,elf,out"
            id="compiledExecutableFile"
            name="%content-type.name.28"
            priority="low">
      </content-type>
      <content-type
            base-type="binaryFile"
            file-extensions="lib,a"
            id="staticLibrary"
            name="%content-type.name.29"
            priority="low">
      </content-type>
      <content-type
            base-type="binaryFile"
            file-extensions="dll,so,dylib"
            id="sharedLibrary"
            name="%content-type.name.30"
            priority="low">
      </content-type>
      <!--
              Eclipse content types
      -->
      <content-type
            base-type="confFile"
            file-names=".project"
            id="projectFile"
            name="%content-type.name.31"
            priority="low">
      </content-type>
      <content-type
            base-type="confFile"
            file-extensions="prefs"
            id="preferences"
            name="%content-type.name.32"
            priority="low">
      </content-type>
      <!--
      		PDE content types
      -->
      <content-type
            base-type="confFile"
            file-names="plugin.xml"
            id="pluginManifest"
            name="%content-type.name.33"
            priority="low">
	  </content-type>
   	  <content-type
            base-type="confFile"
            file-names="fragment.xml"
            id="fragmentManifest"
            name="%content-type.name.34"
            priority="low">
	  </content-type>
   	  <content-type
            base-type="confFile"
            file-names="feature.xml"
            id="featureManifest"
            name="%content-type.name.35"
            priority="low">
	  </content-type>
   	  <content-type
            base-type="confFile"
            file-names="site.xml"
            id="siteManifest"
            name="%content-type.name.36"
            priority="normal">
	  </content-type>
   	  <content-type
            base-type="confFile"
            file-extensions="product"
            id="productFile"
            name="%content-type.name.37"
            priority="normal">
	  </content-type>
   	  <content-type
            base-type="confFile"
            file-extensions="target"
            id="targetFile"
            name="%content-type.name.38"
            priority="normal">
	  </content-type>
   	  <content-type
            base-type="confFile"
            file-extensions="exsd"
            id="schema"
            name="%content-type.name.39"
            priority="normal">
	  </content-type>
	  <content-type
         base-type="confFile"
         file-names="plugin.properties"
         id="pluginProperties"
         name="%content-type.name.40"
         priority="normal"/>
      <content-type
            base-type="confFile"
            file-names="build.properties"
            id="buildProperties"
            name="%content-type.name.41"
            priority="normal"/>
      <!--
          ANT
      -->
      <content-type
            base-type="confFile"
            file-extensions="macrodef,ent,xml,ant"
            file-names="build.xml"
            id="antBuildFile"
            name="%content-type.name.42"
            priority="low">
      </content-type>
      <!--
           Images
      -->
      <content-type
            base-type="binaryFile"
            file-extensions="bmp,png,gif,jpg,jpeg,jpe,tif,tiff,tga,dds,ico,svg"
            id="imageFile"
            name="%content-type.name.43"
            priority="low">
      </content-type>
   </extension>

   <extension
         point="org.eclipse.gmt.modisco.discoverers">
      <discoverer
            class="org.eclipse.gmt.modisco.kdm.source.discoverer.actions.DiscoverSourceModelFromContainer"
            icon="icons/file_reverse_engr.gif"
            name="%discoverer.name">
      </discoverer>
   </extension>
   
</plugin>
