<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="org.eclipse.modisco.usecase.modelfilter.dependencies.commands.displayDependencies"
            name="%command.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.modisco.usecase.modelfilter.dependencies.ui.internal.handlers.DisplayDependenciesHandler"
            commandId="org.eclipse.modisco.usecase.modelfilter.dependencies.commands.displayDependencies">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution locationURI="popup:org.eclipse.modisco.infra.discovery.ui.actionsMenu">
         <command commandId="org.eclipse.modisco.usecase.modelfilter.dependencies.commands.displayDependencies">
            <visibleWhen checkEnabled="false">
               <with variable="selection">
                  <iterate>
                     <or>
                        <and>
                           <adapt type="org.eclipse.core.resources.IFile"/>
                           <test property="org.eclipse.core.resources.contentTypeId" value="org.eclipse.modisco.java.contenttype"/>
                        </and>
                        <instanceof value="org.eclipse.jdt.core.IJavaProject"/>
                        <instanceof value="org.eclipse.jdt.core.IType"/>
                        <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
                        <instanceof value="org.eclipse.jdt.core.IPackageFragment"/>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.modisco.usecase.modelfilter.dependencies.ui.internal.editor.DependenciesEditor"
            default="false"
            icon="resources/logoMoDiscoMini.gif"
            id="org.eclipse.modisco.usecase.modelfilter.dependencies.modeleditor.prefuse.EditorID"
            name="%editor.name">
      </editor>
   </extension>

</plugin>
