<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.eclipse.modisco.infra.discovery.core.discoverer">
     <discoverer
           class="org.eclipse.modisco.java.composition.discoverer.DiscoverKDMSourceAndJavaModelFromJavaProject"
           id="org.eclipse.modisco.java.composition.discoverer.fromJavaProject">
     </discoverer>
     <discoverer
           class="org.eclipse.modisco.java.composition.discoverer.DiscoverKDMSourceAndJavaModelFromProject"
           id="org.eclipse.modisco.java.composition.discoverer.fromProject">
     </discoverer>
  </extension>  
</plugin>
