<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright (c) 2009 Mia-Software.
 All rights reserved. This program and the accompanying materials
 are made available under the terms of the Eclipse Public License v1.0
 which accompanies this distribution, and is available at
 http://www.eclipse.org/legal/epl-v10.html
 
 Contributors:
     Nicolas Bros (Mia-Software) - initial API and implementation
 

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/MoDisco/infra/browser/custom/0.8"
            class="org.eclipse.gmt.modisco.infra.browser.custom.emf.UicustomPackage"
            genModel="models/uiCustom.genmodel"/>
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <category
            id="org.eclipse.gmt.modisco.infra.browser.custom.validation"
            mandatory="false"
            name="%contraints.category.name"/>
      <constraintProvider
            mode="Batch">
         <package namespaceUri="http://www.eclipse.org/MoDisco/infra/browser/custom/0.8"/>
         <constraints categories="org.eclipse.gmt.modisco.infra.browser.custom.validation">
            <constraint
                  lang="Java"
                  class="org.eclipse.gmt.modisco.infra.browser.custom.validation.constraints.NameValidation"
                  severity="ERROR"
                  mode="Batch"
                  name="%constraint.name"
                  id="org.eclipse.gmt.modisco.infra.browser.custom.validation.nonemptyname"
                  statusCode="1">
               <description>
                  %constraint.description
               </description>
               <message>
                  %constraint.message
               </message>
               <target class="TypeView"/>
               <target class="AttributeView"/>
               <target class="ReferenceView"/>
            </constraint>
            <constraint
                  class="org.eclipse.gmt.modisco.infra.browser.custom.validation.constraints.ColorsValidation"
                  id="org.eclipse.gmt.modisco.infra.browser.custom.validation.colors"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.0"
                  severity="ERROR"
                  statusCode="2">
               <description>
                  %constraint.description.0
               </description>
               <message>
                  %constraint.message.0
               </message>
               <target
                     class="StaticFeatureValue">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.gmt.modisco.infra.browser.custom.validation.constraints.IconsValidation"
                  id="org.eclipse.gmt.modisco.infra.browser.custom.validation.icons"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.1"
                  severity="ERROR"
                  statusCode="4">
               <description>
                  %constraint.description.1
               </description>
               <message>
                  %constraint.message.1
               </message>
               <target
                     class="StaticFeatureValue">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.gmt.modisco.infra.browser.custom.validation.constraints.FontsValidation"
                  id="org.eclipse.gmt.modisco.infra.browser.custom.validation.fonts"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.2"
                  severity="ERROR"
                  statusCode="5">
               <description>
                  %constraint.description.2
               </description>
               <message>
                  %constraint.message.2
               </message>
               <target
                     class="StaticFeatureValue">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.gmt.modisco.infra.browser.custom.validation.constraints.MetaclassValidation"
                  id="org.eclipse.gmt.modisco.infra.browser.custom.validation.metaclass"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.3"
                  severity="WARNING"
                  statusCode="6">
               <description>
                  %constraint.description.3
               </description>
               <message>
                  %constraint.message.3
               </message>
               <target
                     class="TypeView">
               </target>
            </constraint>
            <constraint
                  class="org.eclipse.gmt.modisco.infra.browser.custom.validation.constraints.MetamodelValidation"
                  id="org.eclipse.gmt.modisco.infra.browser.custom.validation.metamodel"
                  lang="Java"
                  mode="Batch"
                  name="%constraint.name.4"
                  severity="ERROR"
                  statusCode="7">
               <description>
                  %constraint.description.4
               </description>
               <message>
                  %constraint.message.4
               </message>
               <target
                     class="MetamodelView">
               </target>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>
   <extension
         point="org.eclipse.emf.validation.constraintBindings">
      <clientContext
            default="false"
            id="org.eclipse.gmt.modisco.infra.browser.custom.clientcontext">
         <selector class="org.eclipse.gmt.modisco.infra.browser.custom.validation.ValidationDelegateClientSelector"/>
      </clientContext>
      <binding
            context="org.eclipse.gmt.modisco.infra.browser.custom.clientcontext"
            category="org.eclipse.gmt.modisco.infra.browser.custom.validation"/>
   </extension> 

   <!-- so that model editors know they can open it -->
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="uiCustom"
            id="org.eclipse.gmt.modisco.infra.browser.custom.contenttype"
            name="%uiCustom.content-type.name"
            priority="normal">
      </content-type>
   </extension>


</plugin>
