<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2009 Mia-Software.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
    	Gregoire DUPE (Mia-Software)
        Nicolas Bros (Mia-Software)
        Nicolas Guyomar (Mia_software) - Bug 333651 Remove of the MoDisco EPackage view and of the metamodel browsing button
 -->

<plugin>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.gmt.modisco"
            name="%new.category.name">
      </category>
      <wizard
            category="org.eclipse.gmt.modisco"
            class="org.eclipse.gmt.modisco.infra.common.ui.internal.wizards.NewProjectWizard"
            icon="icons/modisconewproject.gif"
            id="org.eclipse.gmt.modisco.NewProjectWizard"
            name="%new.moDiscoProject.name"
            project="true">
         <description>
            %new.moDiscoProject.description
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/modiscoprojectimage8x9.gif"
            id="org.eclipse.gmt.modisco.common.ProjectNatureImage"
            natureId="org.eclipse.gmt.modisco.common.ProjectNature">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.eclipse.gmt.modisco.infra.common.ui.internal.preferences.MoDiscoRootPreferencePage"
            id="org.eclipse.gmt.modisco.infra.common.ui.preferences.MoDiscoRootPreferencePage"
            name="%modisco.preferencepage.name">
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
   <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.eclipse.gmt.modisco.infra.common.ui.convertToMoDiscoProject">
       	 <visibility>
        	<not>
        	<or>
            <objectState 
	            name="projectNature" 
	            value="org.eclipse.gmt.modisco.common.ProjectNature"/>
	        <objectState
	        	name="open"
	        	value="false"/>
            </or>
            </not>
       	 </visibility>

         <action
               class="org.eclipse.gmt.modisco.infra.common.ui.internal.actions.ConvertToMoDiscoProjectAction"
               enablesFor="+"
               icon="icons/logoMoDiscoMini.gif"
               id="org.eclipse.gmt.modisco.infra.common.ui.convertToMoDiscoProject"
               label="%convertToMoDiscoProject.action.label"
               menubarPath="org.eclipse.ui.projectConfigure/group0">
      	</action>
      </objectContribution>
  </extension>  
   
</plugin>
