<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
Copyright (c) 2011, 2012, 2013 Mia-Software.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
  Gregoire Dupe (Mia-Software) - Bug 403912 - Java to KDM discoverer active on Resource
-->
<plugin>
   <extension
         point="org.eclipse.modisco.infra.discovery.ui.discoverer">
      <discoverer
            discovererID="org.eclipse.modisco.java.discoverer.javaProject"
            icon="icons/java_model_obj.gif"
            label="%discoverer.java.label">
      </discoverer>
      <discoverer
            discovererID="org.eclipse.modisco.java.discoverer.project"
            icon="icons/java_model_obj.gif"
            label="%discoverer.java.label.0">
      </discoverer>
      <discoverer
            discovererID="org.eclipse.modisco.java.discoverer.class"
            icon="icons/java_model_obj.gif"
            label="%discoverer.class.label">
      </discoverer>
      <discoverer
            discovererID="org.eclipse.modisco.java.discoverer.library"
            icon="icons/java_model_obj.gif"
            label="%discoverer.lib.label">
      </discoverer>
      <discoverer
            discovererID="org.eclipse.modisco.java.discoverer.javaToKDM"
            icon="icons/kdmsdk_16.gif"
            label="%discoverer.javaToKDM.label">
      </discoverer>
      <discoverer
            discovererID="org.eclipse.modisco.java.discoverer.javaProjectToKDM"
            icon="icons/kdmsdk_16.gif"
            label="%discoverer.javaProjectToKDM.label">
      </discoverer>
      <discoverer
            discovererID="org.eclipse.modisco.java.discoverer.projectToKDM"
            icon="icons/kdmsdk_16.gif"
            label="%discoverer.javaProjectToKDM.label.1">
      </discoverer>
      <discoverer
            discovererID="org.eclipse.modisco.java.discoverer.javaResourceToKDM"
            icon="icons/kdmsdk_16.gif"
            label="%discoverer.javaResourceProjectToKDM.label.1">
      </discoverer>
   </extension>

   <extension point="org.eclipse.emf.facet.widgets.celleditors.compositeEditorFactories">
      <compositeEditorFactory class="org.eclipse.modisco.java.discoverer.ui.internal.JavaElementsToAnalyzeCompositeFactory"/>
   </extension>


</plugin>
